.root {
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.searchWrapper {
  flex-grow: 1;
  max-width: 480px;
  flex-basis: 480px;
  display: flex;
  align-items: center;
}
.search {
  flex-grow: 1;
  height: 42px;
  padding: 0 16px;
  display: flex;
  align-items: center;
}
.searchIcon {
  margin-right: 16px;
  color: #ff9800;
}
.searchInput {
  flex-grow: 1;
}
.searchButton {
  margin-left: 16px;
}
